.switch{
    grid-column: span 4;
    display: flex;
    justify-content: center;
}

.toggle{
    background-color: var(--terciario);
    width: 4.5rem;
    height: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.slider{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    background-color: var(--secundario);
    padding: 0;
    margin: 4px;
    transform: translateX(0);
    transition: 500ms;
}

.checkSwitch:checked + .slider {   /*Se le aplica al slider que sigue despues del chechSwitch, solo cuando esta con un tick (en nuestro caso cuando esta en modo oscuro)*/
    transform: translateX(2.5rem);
}